
<!doctype html>
<html>
<head>
    <title>Currently Available Polling Questions</title>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen and (-webkit-device-pixel-ratio: 1.5)" href="hdpi.css" />
    <link rel="stylesheet" media="screen and (-webkit-device-pixel-ratio: 1.0)" href="mdpi.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./style/mainmin.css">
</head>
<body>
<div class="container">
    <div align="center" id="menuButtons">
                <a href="https://polling-app-chan.herokuapp.com/main"><button id="homeButton">Home</button></a>
                <a href="https://polling-app-chan.herokuapp.com/profile"><button id="profileButton">profile</button></a>
                <a href="https://polling-app-chan.herokuapp.com/dashboard"><button id="dashButton">Dashboard</button></a>
                <a href="https://polling-app-chan.herokuapp.com/logout"><button id="logoutButton">Logout</button></a>
            </div>
    <h1 id="pageTitle">Running Polling Questions</h1>
    <ol id="ol" start="1">

    </ol>
     <div class="footer text-center">desinged & coded by <a href="http://codepen.io/Chan11/" target="_blank"><strong>Chandrahas</strong></a></div>
    </div>
<script src="./mainmin.js"></script>
</body>
</html>
